.carros-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  max-width: 1200px;
  margin: 40px auto;
}
.carros-list .card div {
  color: #555;
  font-size: 0.6em;
  margin: 0px 0;
  line-height: 1.5rem;
}
.carros-list .infos {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.carros-list .card {
  background: #fff;
  color: #333;
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  position: relative;
}
.carros-list .card img {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  width: 0%;
  border: 0;
  outline: 0;
}
.card li {
  border: 0 !important;
  outline: 0 !important;
}
.carros-list .leftbtn {
  background: #a2a2a2;
  box-shadow: 0px 0px 3px 1px #333;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: 0;
  height: 24px;
  width: 23px;
  border-radius: 4px;
  position: fixed;
  z-index: 999;
}
.carros-list .rightbtn {
  background: #a2a2a2;
  border-radius: 4px;
  cursor: pointer;
  height: 24px;
  width: 23px;
  box-shadow: 0px 0px 3px 1px #333;
  position: fixed;
  border: 0;
  font-weight: bold;
  color: #fff;
  z-index: 999;
  margin-left: 280px;
}
.carros-list .rightbtn:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  background-color: #f3123c;
}
.carros-list .leftbtn:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  background-color: #f3123c;
}
.carros-list .imgContainer {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0%;
  width: 100%;
}
.carros-list .card:hover {
  transform: rotate(3deg);
}

.carros-list .card h3 {
  color: #555;
  margin-bottom: 6px;
}
.carros-list .card p {
  color: #999;
  font-size: 1rem;
}
.carros-list .card a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  background-color: #f3123c;
  background: #a2a2a2;
  font-size: 0.9rem;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  margin: 20px auto 0;
  text-align: center;
}

.carros-list .card a:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  background-color: #f3123c;
}

.carros-list .card.dark {
  background: rgb(31, 31, 31);
}
.carros-list .card.dark p,
.carros-list .card.dark h3,
.carros-list .card.dark div {
  color: #e4e4e4;
}
.carros-list h3 {
  margin-top: -15px;
}
