.navbar {
  background-color: #f3123c;
  padding: 20px;
  box-shadow: 0px 1.5px 5px 0px #181818;
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}
.navbar a:last-child {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding: 8px;
  border: 1px solid #fff;
}
.navbar a:last-child:hover {
  color: #f3123c;
  background-color: #fff;
}
